<form [formGroup]="userModel" class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" [class.is-invalid]="" id="inputPassword4">
      <div class="invalid-feedback">El campo es requerido 2,a..,#$</div>
    </div>
    
    <div class="col-md-6">
      <label for="inputPassword5" class="form-label">Confirm Password</label>
      <input formControlName="password2" type="password2" class="form-control" id="inputPassword5">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address street</label>
      <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Apartment</label>
      <input formControlName="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input formControlName="city" type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select formControlName="selected"  id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Buenos Aires</option>
        <option>Corrientes</option>
        <option>Jujuy</option>
        <option>Catamarca</option>
        <option>Chaco</option>
        <option>Chubut</option>
        <option>Cordoba</option>
        <option>Entre Rios</option>
        <option>Formosa</option>
        <option>Pampa</option>
        <option>Rioja</option>
        <option>Mendoza</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input formControlName="zip" type="text" class="form-control" id="inputZip">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
  <div class="col-4">
    <h5>Valor</h5>
     <pre >{{userModel.value|json}}</pre> 
  </div>
